/* Colores principales */
$colorPrincipalVerde: #1B8636;
$colorPrincipalRojo: #C90000;
$colorPrincipalBlanco: #FFFFFF;
$colorPrincipalNegro: #222222;


/* Colores de fondo */
$colorFondo-SeccionGrises: #F5F5F5;
$colorFondo-SeccionVerdeClaro: #E6F2EA;
$colorFondo-SeccionRosaClaro: #FBE6E6;

/* Colores de texto y bordes */
$colorTitulosNegro: #222222;
$colorTextoOscuro: #4A4A4A;
$colorTextoClaro: #FFFFFF;
$colorBordeClaro: #DDDDDD;