@use  "sass:map";
@use  "../utilities/variables" as*;
@use  "../base/tipografias" as*;
@use  "../utilities/maps" as*;
@use "../utilities/mixins" as *;






.boton-primario {
    text-decoration: none;
    list-style: none;
    font-weight: 600;
    color: map.get($colores, negro);
    margin: 7px;
    padding: 10px 20px;
    border: none;
    font-size: 16px;
    border: 1px solid $colorBordeClaro;
    border-radius: 3rem;
}


.boton-secundario {
    text-decoration: none;
    list-style: none;
    font-weight: 600;
    margin: 7px;
    padding: 10px 20px;
    border-radius:  3rem;
    border: none;
    font-size: 16px;
    background-color: $colorPrincipalVerde; 
    color: $colorPrincipalBlanco;
    border: 1px solid $colorBordeClaro; 
    text-transform: uppercase;
}


.boton-terciario {
    background-color: $colorPrincipalVerde;
    color: $colorPrincipalBlanco;
    text-decoration: none;
    font-weight: 600;
    padding: 10px 30px;
    border-radius: 3rem;
    border: 2px solid $colorBordeClaro;
    margin-top: 20px;
    display: inline-block;
    text-transform: uppercase;
}

.boton{
    color: $colorPrincipalBlanco;
    text-decoration: none;
    font-weight: 500;
    margin: 1rem;
    border: 2px solid $colorBordeClaro;
    border-radius: 3rem;
    padding: 10px 20px;
}

/*
    #################################################################################################
    #                                                                                               #
    #                                             BOTONES                                           #
    #                                       SECCION - RVICIOS                                       #
    #                                                                                               #
    #################################################################################################
*/

.boton-primario-servicios{
    margin-top:13.5rem;
    text-decoration: none;
    list-style: none;
    font-weight: 600;
    color: map.get($colores, negro);
    margin: 7px;
    padding: 10px 20px;
    border: none;
    font-size: 16px;
    border: 1px solid $colorBordeClaro;
    border-radius: 8px;
    
}
.boton-secundario-servicios{
    text-decoration: none;
    list-style: none;
    font-weight: 600;
    margin: 7px;
    padding: 10px 20px;
    border-radius:  8px;
    border: none;
    font-size: 16px;
    background-color: $colorPrincipalVerde; 
    color: $colorPrincipalBlanco;
    border: 1px solid $colorBordeClaro; 
    text-transform: uppercase;
}
//caja de botones
.botones-servicios{
    margin-top: 2.7rem;
}