@use  "../utilities/variables" as*;
@use "../utilities/maps" as*;
@use  "../base/tipografias" as*;


.hero-section {
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center; /* Mantiene el centrado vertical */
    /* align-items: flex-start; Alinea los elementos a la izquierda */
    text-align: left; /* Alinea el texto a la izquierda */
    padding: 2rem;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../img/hero-car-gnc.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: map-get($colores, blanco);
}

.hero-section h1 {
    color: map-get($colores, blanco);
    font-weight: 700;
    font-size: 2rem;
}

.hero-section p {
    color: map-get($colores, blanco);
    font-size: 1.5rem;
}


.conteiner-hero{
    margin-left:12rem;
}