@use  "../utilities/variables" as*;
@use  "../base/tipografias" as*;

.logotipo {
    width: 15.625rem;
    height: 3.125rem;
    display: block;
}

.header-logotipo{
    display: flex;
    align-items: center;
}
.header-logotipo a{
    margin: 0px;
    padding: 0px;
}

.menu-principal{
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    display: flex;
    justify-content:space-around;
    align-items: center;
}

.navegacion{
    display: flex;
}
nav, ul {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}

nav ul li {
    list-style: none;
    margin: 0 10px;
}

nav ul li a {
    color: $colorPrincipalNegro;
    text-decoration: none;
    font-weight: 400;
}

/* Botón hamburguesa oculto por defecto */
.menu-toggle {
    display: none;
    font-size: 2rem;
    cursor: pointer;
    color: $colorPrincipalVerde;
}
/* Ocultamos el checkbox */
#menu-toggle {
    display: none;
}

/* Ícono hamburguesa oculto en escritorio */
.menu-icon {
    display: none;
    font-size: 2rem;
    cursor: pointer;
    color: $colorPrincipalVerde;
}