// Dentro de base va todo lo generico 
// _reset.scss
// _Tipografias
// _Etiquetas genericas

// Reset, tipografias y seteos de etiquetas general.


* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html {
    scroll-behavior: smooth;
}